{% extends "base.html" %}
{% load static %}

{% block title %}New Listing{% endblock %}

{% block content %}
{% block body %}
    <h2>Active Listings</h2>
    
    {% for listing in active_listings %}
    <a href="{% url 'listing_view' listing.id %}">
        
    
        <ul>
            <li>
                <div class="container">
                    <div class="row">
                        <div class="col col-sm">
                            {{listing.product}}            
                        </div>
                        <div class="col col-sm">
                            {{listing.current_price}}                
                        </div>
                        <div class="col col-lg">
                            {{listing.description}}
                        </div>
                        <div class="col col-lg">
                            {% if listing.photo %}
                                <img src="{{listing.photo.url}}" alt="" style="max-width: 50%;">
                            {% else %}
                                No picture
                            {% endif %}
                        </div>
                        <div class="col col-sm">
                            {{listing.author}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </a>


   
    {% empty %}
        <p>No active listings</p>
    {% endfor %}
    

    {% endblock %}
    {% endblock %}
    